.fileList {
  display: flex;
  margin-top: 0.25rem;
  width: 400px;
  flex-wrap: wrap;
}

.fileContainer {
  flex-direction: column;
  align-items: center;
}

.fileName {
  margin-left: 0.3rem;
  color: rgba(0, 0, 0, 1);
}

.filesEntry {
  display: flex;
  flex-direction: row;
  margin: 0;

}
