.containerWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: auto;
  padding: 0 22rem 0 22rem;
  margin-bottom: 4rem;

  .rowWrapper {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    .labelWrapper {
      font-weight: 600;
      margin: 0.2rem 0 0.2rem 0;
      font-size: 1rem;
    }

    .selectWrapper {
      height: 3rem;
      padding: 4px;
      background-color: #fff;
    }

    .inputField {
      height: 3rem;
      &:focus {
        // box-shadow: 0 0 3px #000000;
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 2px solid rgba(0, 0, 0, 1);
        outline: none;
        border-radius: 0.15rem;
      }
    }

    .textInputField {
      height: 5rem;
      padding: 0.7rem;
      &:focus {
        // box-shadow: 0 0 3px #000000;
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 2px solid rgba(0, 0, 0, 1);
        outline: none;
        border-radius: 0.15rem;
      }
    }

    .requiredField {
      color: red;
      font-weight: bold;
      margin-right: 0.2rem;
    }
  }

}

.agreeTerms {
  padding-left: 1.2rem;
  label {
    .form-check-label {
      font-weight: 600;
      margin: 0.2rem 0 0.2rem 0;
      font-size: 1rem;
  }
  }
}

.errMsg {
  font-size: 0.8rem;
  color: red;
  height: 0.2rem;
  margin-top: 0.25rem;
}

.userTypeErr {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid red;

  .userTypeBtn {
    margin: 5px 2px 5px 2px;
    width: 135px;
    color: white;
    background-color: #34613D;
    font-size: .7rem;
  }

  .userInActiveBtn {
    margin: 5px;
    font-weight: 500;
    width: 135px;
    color: #5E5E5E;
    background-color: rgba(255, 255, 255, 0);
    font-size: .7rem;
    border: 1px solid #5E5E5E;
    // border-radius: 0.15rem;

    &:hover {
      border: 1px solid black;
    }
  }
}

.userTypeLayout {
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  .userTypeBtn {
    margin: 5px;
    width: 135px;
    color: white;
    background-color: rgba(0, 0, 0, 1);
    font-size: .7rem;
    font-size: .7rem;
    border-color: rgba(0, 0, 0, 1);
  }

  .userInActiveBtn {
    margin: 5px;
    font-weight: 500;
    width: 135px;
    color: #5E5E5E;
    background-color: rgba(255, 255, 255, 0);
    font-size: .7rem;
    border: 1px solid #5E5E5E;
    // border-radius: 0.15rem;

    &:hover {
      border: 1px solid black;
    }
  }
}

.recaptchaWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.submitBtnWrapper {
  display: flex;
  justify-content: flex-end;

  .submitBtn {
    width: 100px;
    color: white;
    background-color: #147bd1;
    outline: none;
    border-width: 0;
    height: 2rem;
    border-radius: 0.5rem;
    opacity: 0.4;
  }

  .submitActiveBtn {
    width: 100px;
    color: white;
    background-color: #147bd1;
    outline: none;
    border-width: 0;
    height: 2rem;
    border-radius: 0.5rem;
  }

}

.successMsg {
  color: #34613D;
  font-size: 0.8rem;
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
}

.failureMsg {
  color: red;
  font-size: 0.8rem;
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 820px) {
  .containerWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    padding: 0 2rem 0 2rem;
    margin-bottom: 4rem;
  }

  .userTypeLayout {
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    .userTypeBtn {
      margin: 5px;
      color: white;
      background-color: rgba(0, 0, 0, 1);
      font-size: .7rem;
      width: 8rem;
    }

    .userInActiveBtn {
      margin: 5px;
      font-weight: 500;
      color: #5E5E5E;
      background-color: rgba(255, 255, 255, 0);
      font-size: .7rem;
      border: 1px solid #5E5E5E;
      width: 8rem;
      // border-radius: 0.15rem;

      &:hover {
        border: 1px solid black;
      }
    }
  }
}
