$navbarColor: #ffffff;

.containerWrapper {
  display: flex;
  justify-content: center;
  background-color: $navbarColor;
  height: auto;
  border-bottom: 1px solid #e4e4e4;
  padding: 3rem;
}

.contentWrapper {
  color: #000000;
}

.headingWrapper {
  font-size: 3rem;
  font-weight: 400;
  margin-top: 1rem;
}
