.userTypeLayout {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.userTypeErr {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid red;
}

@media (max-width: 920px) {
  .userTypeLayout {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
}
