.languageDropdown {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;

  .dropDownToggleBtn {
    border: 0.1rem solid black;
    background-color: white;
    color: black;
    width: 8rem;
    height: 2rem;
    position: absolute;
    padding: 0.1rem 0 1rem 0;
  }
}
